{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/show.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}TODO LIST - 分享平行世界{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>待办列表</h1>
        <table class="hover-table">
            <tr>
                <th>id</th>
                <th>标题</th>
                <th>类别</th>
                <th>创建时间</th>
                <th>是否完成</th>
            </tr>

            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.category }}</td>
                    <td>{{ moment(event.create_time).format('LLL') }}</td>
                    {% if not event.completion %}
                        <td>未完成</td>
                        <td>
                            <button class="btn btn-info btn-sm"
                                    onclick="window.location.href='{{ url_for('todo.finish',id=event.id) }}'">
                                完成
                            </button>
                        </td>
                    {% else %}
                        <td>完成</td>
                    {% endif %}
                    <td>
                        <button class="btn btn-info btn-sm"
                                onclick="window.location.href='{{ url_for('todo.edit_event',id=event.id) }}'">
                            编辑
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info btn-sm"
                                onclick="window.location.href='{{ url_for('todo.delete_event',id=event.id) }}'">
                            删除
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>


        <br>
        <button class="btn btn-info btn-sm"
                onclick="window.location.href = '{{ url_for('todo.add_event') }}'">添加事件
        </button>
        <button class="btn btn-info btn-sm"
                onclick="window.location.href = '{{ url_for('todo.add_category') }}'">添加类别
        </button>
    </div>
{% endblock %}